* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: $color-white;
  color: $color-black;
  font-family: Poppins, sans-serif;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}
